<html>
    <head>
        <title>
            여비의 자기소개!!
            </title>
    </head>

    <body style="background-color:#A6B7FA; text-align: center;">
        <span style=background-color:#F8E594;>나는 <span style= "color:purple; font-weight: bold ; font-size: 30px;">아이유</span>를 좋아하는 정엽</span>
        
        <a href="https://www.youtube.com/watch?v=wDfqXR_5yyQ&ab_channel=%EB%94%A9%EA%B3%A0%EB%AE%A4%EC%A7%81%2Fdingomusic" target="_blank"><div><img src="static_url/iu.jpg" width="600" height="600" title="킬링보이스-아이유편"/></div></a>

    </body>
</html>
